body {
	width: 700px;
	margin: 10px;
}

label {
	display: block !important;
	padding-top: 5px;
	padding-bottom: 5px;
}
input, textarea {
	width: 100%;
}

button {
	display: block;
	margin: 10px;
	margin-left: 0px;
}

li {
	padding-left: 10px;
	cursor: pointer;
}

.btn {
	margin: 0px !important;
}

.submitdatabtn {
	font-size: 30px;
	float: right;
}