<html>
	<head>
		<title>Form</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/form.css">
		
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
		<script src = "//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
		
		<script src = "/main.js"></script>
    	<script src = "/form.js"></script>
	</head>
	<body ng-app = "form" class="ng-scope" ng-controller="rootCtrl">
		<input type="text" ng-model="newCategory"/><button ng-click="model[newCategory]=[]">Add Category</button>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li ng-click="selectDropdown(key)" ng-repeat="(key, value) in model">{{key}}</li>
			</ul>
		</div>

		<label>Heading: </label><input type="text" placeholder="Heading" ng-model="newObj.heading"/>
		<label>Dates: </label><input type="text" placeholder="Dates" ng-model="newObj.dates"/>
		<label>Description: </label><textarea placeholder="Description" ng-model="newObj.description"></textarea>
		<button ng-click = "addEntry()">Add Entry</button>
		<button class = "submitdatabtn" ng-click = "printData()">Print Data</button>
		<textarea placeholder="Output Shows Here" ng-model="output" readonly></textarea>
	</body>
</html>