<html>
	<head>
		<title>Resume</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/index.css">

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
		<script src = "//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

    	<script src = "/main.js"></script>
	</head>
	<body ng-app = "myResume" class="ng-scope" ng-controller="rootCtrl">
		<div id="education" class="header border_main_panel" ng-controller="educationCtrl">
			<label class="header_label">Education</label>
			<div id = "education_main" class="section_container">
				<div ng-repeat = "entry in model.education">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="skills" class="header border_main_panel" ng-controller="skillsCtrl">
			<label class="header_label">Skills</label>
			<div id = "skills_main" class="section_container">
				<div ng-repeat = "entry in model.skills">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="workExp" class="header border_main_panel" ng-controller="workExpCtrl">
			<label class="header_label">Work Experience</label>
			<div id = "workExp_main" class="section_container">
				<div ng-repeat = "entry in model.workExp">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="techExp" class="header border_main_panel" ng-controller="techExpCtrl">
			<label class="header_label">Technical Experience</label>
			<div id = "techExp_main" class="section_container">
				<div ng-repeat = "entry in model.techExp">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="projects" class="header border_main_panel" ng-controller="projectsCtrl">
			<label class="header_label">Projects</label>
			<div id = "projects_main" class="section_container">
				<div ng-repeat = "entry in model.projects">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="volunteer" class="header border_main_panel" ng-controller="volunteerCtrl">
			<label class="header_label">Volunteer</label>
			<div id = "volunteer_main" class="section_container">
				<div ng-repeat = "entry in model.volunteer">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="awards" class="header border_main_panel" ng-controller="awardsCtrl">
			<label class="header_label">Awards</label>
			<div id = "awards_main" class="section_container">
				<div ng-repeat = "entry in model.awards">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="interests" class="header border_main_panel" ng-controller="interestsCtrl">
			<label class="header_label">Interests</label>
			<div id = "interests_main" class="section_container">
				<div ng-repeat = "entry in model.interests">
					<span>
						<label class="sub_header_label" ng-click="entry.isExpanded = !entry.isExpanded">{{entry.heading}}</label>
						<label class="sub_header_label right_align">{{entry.dates}}</label>
					</span>
					<div uib-collapse = "!entry.isExpanded">
						<div ng-bind-html="entry.description"></div>
					</div>
				</div>
			</div>
		</div>
		<!--
		<div id="skills" ng-class="{opaque: !isSkillsActive}" ng-controller="skillsCtrl">Technical Skills</div>
		<div id="workExp" ng-class="{opaque: !isWorkExpActive}" ng-controller="workExpCtrl">Work Experience</div>
		<div id="technical" ng-class="{opaque: !technicalActive}" ng-controller="technicalCtrl">Technical Experience</div>
		<div id="projects" ng-class="{opaque: !projects}" ng-controller="projectsCtrl">Project Experience</div>
		<div id="volunteer" ng-class="{opaque: !isPDActive}" ng-controller="volunteerCtrl">Community Engagement</div>
		<div id="awards" ng-class="{opaque: !isPDActive}" ng-co</tr>ntroller="awardsCtrl">Awards</div>
		<div id="interests" ng-class="{opaque: !isPDActive}" ng-controller="interestsCtrl">Interests</p>-->
	</body>
</html>